.button {
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  transition: .5s;
}

.button:hover {
  opacity: .6;
  transition: .5s;
}
