.button {
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.button:hover {
  opacity: .6;
  transition: .5s;
}

@media screen and (max-width: 1279px) {
  .button {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
  }
}
