.search-form__main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 0 15px 0;
  border-bottom: #424242 1px solid;
  position: relative;
}
