.switch__checkbox {
  display: none;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #3ddc84;
}

.switch__checkbox:checked + .switch__slider {
  box-shadow: 0 0 1px #3ddc84;
}

.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}