.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 123px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__form {
    margin-top: 80px;
  }
}
