.about-me__info-subheading {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 1279px) {
  .about-me__info-subheading {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__info-subheading {
    font-size: 11px;
    line-height: 16px;
  }
}
