.auth-form__redirect-button {
  border: none;
  background-color: #202020;
  margin: 0 0 0 6px;
  padding: 0;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
}

.auth-form__redirect-button:hover{
  opacity: .6;
  transition: .5s;
}

@media screen and (max-width: 767px) {
  .auth-form__redirect-button {
    font-size: 12px;
    line-height: 14.52px;
  }
}
