.portfolio__link-ref {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .5s;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}

.portfolio__link-ref:hover {
  opacity: .6;
  transition: .5s;
}

@media screen and (max-width: 1279px) {
  .portfolio__link-ref {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link-ref {
    font-size: 18px;
    line-height: 28px;
  }
}
