.profile__form-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 16px 0;
  border-bottom: #424242 1px solid;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  cursor: text;
  width: 100%;
}

.profile__form-label:last-child {
  padding: 17px 0 0 0;
  border-bottom: none;
}
