.nav-tab__link {
  background-color: #303030;
  padding: 10px 17px 10px 17px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nav-tab__link:hover {
  opacity: .6;
  transition: .5s;
}

.nav-tab__link:last-child{
  margin: 0;
}

@media screen and (max-width: 767px) {
  .nav-tab__link {
    padding: 5px 12px 5px 12px;
    font-size: 10px;
  }
}
