.techs__list {
  list-style: none;
  padding: 0;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  align-content: center;
}

@media screen and (max-width: 1279px) {
  .techs__list {
    margin-top: 83px;
  }
}

@media screen and (max-width: 767px) {
  .techs__list {
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    column-gap: 10px;
    row-gap: 10px;
    width: 178px;
  }
}
