.button_action_more {
  margin: 50px 0 0 0;
  padding: 10px 0 10px 0;
  width: 1140px;
  background-color: #2f2f2f;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
}
