.button_action_login {
  width: 76px;
  margin: 0 0 0 30px;
  padding: 8px 0 8px 0;
  text-align: center;
  background-color: #3DDC84;
  color: black;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
