.profile__form-input {
  width: 122px;
  border: none;
  outline: none;
  background-color: #202020;
  color: white;
  text-align: end;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
}

@media screen and (max-width: 767px) {
  .profile__form-input {
    width: 120px;
  }
}
