.movies-card__save-button {
  width: 30px;
  height: 30px;
  margin: 19px 14px 0 0;
  background-color: #202020;
  outline: none;
  border: none;
  border-radius: 36px;
  background-image: url("../../../images/movies-card__save-button.png");
  background-size: cover;
  transition: .5s;
  cursor: pointer;
}

.movies-card__save-button:hover {
  opacity: .6;
  transition: .5s;
}
