.popup__container {
  z-index: 2;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #272727;
  margin: auto;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: fit-content;
  }
}
