.auth-form__submit-button {
  margin: 69px 0 0 0;
  width: 100%;
  border: none;
  padding: 13px 126px 15px 124px;
  color: white;
  background-color: #4285f4;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.auth-form__submit-button:hover {
  opacity: .6;
  transition: .5s;
}
