.about-me__info-photo {
  margin: 0 0 0 270px;
  background-image: url("../../../images/about-me__info-photo.png");
  background-size: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 1279px) {
  .about-me__info-photo {
    margin-left: 49px;
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__info-photo {
    margin: 0 0 40px 0;
    width: 292px;
    height: 352px;
  }
}
