.footer__link-ref {
  color: white;
  text-decoration: none;
  transition: .5s;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}

.footer__link-ref:hover {
  opacity: .6;
  transition: .5s;
}
