.profile__form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 410px;
  border: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__form-inputs {
    width: 260px;
  }
}
